body{
    margin: 0;
    padding: 0;
    background:salmon;
}
#contact{
    display: flex;
    flex-direction:row;
    float: right;
    margin-right: 5vw;
    padding-bottom: 5px;
    padding-left: 10px;


}
#name{
    font-size: 40px;
    font-style: oblique;
    padding-top: 5vw;
    color: darkslategrey
    /* margin-top: 10vw; */
    /* float: right; */
    ;
}
#half{
    background-color: pink;
    padding-bottom: 50px;
    padding-right: 30px;
    /* float: right; */
    /* height: 10vw; */
}
#top{
    padding-bottom: 5vw;

}
#email{
    padding-left: 5px;
    padding-bottom: 0vw;
    float: right;
    /* padding-top: 10px; */
}
#omo{
    color:black;
    /* float: left; */
    padding-top: 3vw;
    /* display: flex; */
    /* flex-direction: column; */
    padding-left: 10px;
    /* background-color: blue; */
}
#lol{
    /* float: right; */
    padding-top: 3px;
    /* padding-right: 20vw; */
    padding-left: 10px;
    /* display: flex; */
    /* flex-direction: column; */
    /* background-color: yellow; */
    
}
h3{
    font-size: 25px;
}

