<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body s>
    <center>
    <a href="/cv1">
        <img src="/image/Cv.jpeg" style="background-color: red;" alt="">
    </a><br><hr><br>

    <a href="/cv2">
        <img src="/image/cV2.jpeg" style="background-color:blue; ">
    </a><br><hr><br>

    <a href="/cv3">
        <img src="/image/cV3.jpeg" style="background-color:yellow;">
    </a><br><hr><br>

    <a href="/cv4">
        <img src="/image/Cv4.jpeg" style="background-color:green";>
    </a><br><hr><br>
</center>
</body>
</html>